# Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


.vscode
.vs
.trash

.env
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# django migrations 
**/migrations/**
!**/migrations
!**/migrations/__init__.py

.venv