{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row p-4 justify-content-center">
    <h3 class="text-center col-12 col-sm-12 col-xl-12">Eliminar Registros</h3>
</div>
<div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8">
        <form method="POST">
            {% csrf_token %}
            <div class="row align-items-center">
                <div class="col-12">
                    <h4>Desea eliminar el registro de: {{object.area}}?</h4>
                </div>
                <div class="col-12">
                  <button class="btn btn-danger" type="submit">Si, eliminar</button>
                  <a class="btn btn-success" href="{% url 'listarArea' %}" data-dismiss="modal">Cancelar</a>
                </div>
            </div>
            
        </form>
    </div>
</div>


{% endblock %}