{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row p-4 justify-content-center">
    <h3 class="text-center col-12 col-sm-12 col-xl-12">Crear Aliado</h3>
</div>

<form class="container-fluid justify-content-center" method="POST">
    
    {% csrf_token %}
    <div class="row">
        <div class="col-3 col-md-3 col-xl-3">
            <div class="form-group">
                <label>Cód :</label>
                {{ form.codigo_aliado }}
            </div>
        </div>
        <div class="col-6 col-md-6 col-xl-6">
            <div class="form-group">
                <label> </label>
                {{ form.origen }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-10 col-xl-8">
            <div class="form-group">
                <label>Nombre:</label>
                {{ form.nombre }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-10 col-xl-8">
            <div class="form-group">
                <label>Pais:</label>
                #{{ form.pais }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-10 col-xl-8">
            <div class="form-group">
                <label>Tipo de convenio:</label>
                {{ form.tipo_de_covenio }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-10 col-xl-8">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Crear</button>
            <a href="{% url 'listarAliado' %}" class="btn btn-danger">Cancelar</a>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Nuevo Aliado</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Desea crear un aliado nuevo
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Si, crear</button>
              <a href="{% url 'listarAliado' %}" class="btn btn-primary" data-dismiss="modal">cancelar</a>
            </div>
          </div>
        </div>
      </div>

</form>
{% endblock %}